<h2>Gross Revenue</h2>

<table id='purchasers'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Total Purchases</td>
    </tr>
  </thead>
  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.purchaser %></td>
      </tr>
    <% end %>
  </tbody>
</table>
